*.pyc
*.pyo
*.beam
.DS_Store
Desktop.ini
Thumbs.db
.Trashes
*.sw?
.tool-versions
.sass-cache
npm-debug.log*
*.bak
*.o
*.so

# .secret.exs is where I put my secret stuff for elixir projects
.secret.exs

tmuxinator.bash
.tmuxinator.yml

# gtags generated
GPATH
GRTAGS
GSYMS
GTAGS
tags
tags.lock
tags.temp

# elixir specific
*.coverdata
tmp/
.elixir_ls/

# node
node_modules/

*.out
*.exe
*.test
*.prof
*.deb
zsh/.zsh_history
Code/*
pulse/*
Code/Backups/workspaces.json
Code/GPUCache/*
google-chrome/*
chromium/*
discord/*
Insomnia/*
MongoDB Compass/*
plank/*
gestures/*
deluge/*
enchant/*
libreoffice/*
goa-1.0/*
nautilus/*
neofetch/*
pop-shell/*
totem/*
geary/*
autostart/*
dconf/*
evolution/*
gedit/*
ibus/*
gnome-control-center/*

gnome-initial-setup-done
user-dirs.dirs
user-dirs.locale
mimeapps.list
zsh/.zcompdump

gtk-3.0/bookmarks
BraveSoftware
