*.pyc
*.pyo
*.beam
.DS_Store
Desktop.ini
Thumbs.db
.Trashes
*.sw?
.tool-versions
.sass-cache
npm-debug.log*
*.bak
*.o
*.so
tmuxinator.bash
.tmuxinator.yml
# node
node_modules/

*.out
*.exe
*.test
*.prof
*.deb
zsh/.zsh_history*
pulse/*
google-chrome/*
chromium/*
discord/*
Insomnia/*
MongoDB Compass/*
plank/*
gestures/*
deluge/*
enchant/*
libreoffice/*
goa-1.0/*
nautilus/*
neofetch/*
pop-shell/*
totem/*
geary/*
dconf/*
evolution/*
gedit/*
ibus/*
gnome-control-center/*
freezer/*

gnome-initial-setup-done
user-dirs.dirs
user-dirs.locale
mimeapps.list
zsh/.zcompdump

gtk-3.0/bookmarks
BraveSoftware

###
Microsoft/
QtProject.conf
appimagelauncher.cfg
# autostart/*
configstore/*
eog/*
freerdp/*
gestures/*
libinput/*
libinput_gestures/*
monitors.xml
monitors.xml~
obs-studio/*
remmina/*
systemd/*
teams/*
teamviewer/*
vlc/*
filezilla/*
evince/*
Code/**/*
helm/*
flutter/*
lutris/*
RStudio/*
rstudio/*
obsidian/*
packer/*
menu/*
cef_user_data/*
grammarly-languageserver/*
menus/*
autostart/*


zsh/.zcompdump.pop-os.207568
yelp/yelp.cfg
pop-system-updater/config.ron
